
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);


body {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: auto;
	font-size: 14px;
    overflow-x: hidden;
    
}

.cover {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: 100vh;
    background: url(/img/background/bg-7-element1.png) no-repeat, url(/img/background/bg-7-element2.png) no-repeat, url(/img/background/bg-10.jpg) no-repeat;
    background-size: 40%, 40%, cover;
    background-position: bottom right, top left, center;
    background-attachment: fixed, fixed, fixed;
}

.cover img {
    width: 60%;
}

.element-top-cover {
    transform: translateY(30px);
}

.element-bottom-cover {
    transform: translateY(-40px);
}

.cover h1 {
    font-family: "dancing script";
    font-size: 6rem;
}

.cover p {
    font-size: 2rem;
}

.male {
    transform: translateY(20px);
}

.female {
    transform: translateY(-20px);
}

.span {
    transform: translateY(10px);
}

.cover-ttl {
    font-size: 2rem ;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.cover button {
    color: rgba(185, 49, 252, 1)!important;
    font-size: 13px;
}

.cover button:hover {
    color:white!important;

}

.first {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: 100vh;
    background: url(/img/background/bg-12.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



.first p{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.8rem;
}

.male-first {
    margin-top: 10px;
}

.male-first, .female-first {
    font-family: "Dancing Script";
    font-size: 4rem;
    font-weight: bold;

}

.navbar {
    background-color: rgba(185, 49, 252, 0.6)!important;
    backdrop-filter: blur(2px);
}

.navbar-brand {
    font-size: 2.4rem!important;
}

.bi {
    font-size: 1.4rem;
    color: black;
}

.main {
    margin-top: -3.5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
	height: auto;
    background: url(/img/background/bg-elemet-3.png) no-repeat, url(/img/background/bg-11.jpg) no-repeat;
    background-position: right, center;
    background-size: contain, cover;
    background-attachment: scroll, fixed;
}

.main .container {
    margin-left: -1.1rem;
}

.main .card {
    background-color: rgba(185, 49, 252, 0.4);
}

.main h2, h5 {
    font-family: "dancing script";
}

.main h5 {
    font-weight: bold;
    font-size: 2rem;
}

.information {
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
	height: auto;
    background: url(/img/background/bg-element-8.png) no-repeat, url(/img/background/bg-element-9.png) no-repeat, url(/img/photos/img-6.jpg) no-repeat;
    background-position: top right, bottom left, center;
    background-size: 40%, 25%, cover;
    background-attachment: scroll, scroll, fixed;
}


.information .fs-1 {
    font-size: 0.8rem!important;
}

.information .card {
    width: 60%;
    background-color: rgba(185, 49, 252, 0.4);
    backdrop-filter: blur(2px);
    color: white;
}

.information h2 {
    font-family: "dancing script";
    font-size: 2.4rem;
}

.collapse {
    color: white;
}

.ctt {
    font-size: 0.8rem;
}

.ht-1 {
    font-size: 3.4rem;
}

.gallery {
    width: 100%;
    padding: 25px;
    background: url(/img/background/bg-13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gallery .card {
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(2px);
}

.gifts {
    padding: 20px;
    background: url(/img/background/bg-13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gifts .card {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: url(/img/photos/img-8.jpg) no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}



.copy-button:hover {
    background: 0;
    border: 0;
    color: pink;
}

.copy-button {
    background: 0;
    border: 0;
    color: white;
}

.in-card {
    background-color: rgba(185, 49, 252, 0.4);
}

.btn{
 color: white!important;
 
}

.btn:hover {
color: rgba(185, 49, 252, 1)!important;

}

.bg-dark-purple {
    background-color: rgba(67, 17, 92, 0.8);
}



.gifts-card {
    height: 30rem!important;
}

.content-gift {
        
}

.content-gift .card {
    background: none!important;
}
.content-gift h1 {
    font-size: 100.0px;
    margin-bottom: 4rem;
}

.mandiri {
    width: 40%!important;
}

.footer {
    background-color: rgba(185, 49, 252, 0.6);
    background-image: url(/img/other-element/element-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Media Query */
/* Laptop */
@media (max-width: 1024px) {
    html {

    }
    
    
    /* cover */
    
    .cover {
        background-size: 45%, 45%, cover;
    }
    
    .male {
        transform: translateY(20px);
    }

    .span {
        transform: translateY(7px);
    }

    .female {
        transform: translateY(-20px);
    }

    .element-top-cover {
        width: 400px!important;
        transform: translateY(20px);
    }

    .element-bottom-cover {
        width: 400px!important;
        transform: translateY(-30px);
    }

    .cover-ttl {
        font-size: 1.2rem!important;
        font-weight: bold;
        transform: translateY(-10px);
    }

/* cover end */

}

/* Tablet */
@media (max-width: 768px) {
    html {
    }

    
    /* cover */

    .cover {
        background-size: 50%, 50%, cover;
    }

    .cover h1 {
        font-size: 60px;
    }
    
    .male {
        transform: translateY(20px);
    }

    .span {
        transform: translateY(7px);
    }

    .female {
        transform: translateY(-20px);
    }

    .element-top-cover {
        width: 400px!important;
        transform: translateY(20px);
    }

    .element-bottom-cover {
        width: 400px!important;
        transform: translateY(-30px);
    }

    .cover-ttl {
        font-size: 1.2rem!important;
        font-weight: bold;
    }
    

/* cover end */

    
}
    
    

/* Handphone */
@media (max-width: 600px) {
    html {

    }

    .cover {
        height: 100vh;
        background-size: 50%, 50%, cover;
    }

}

/* Phone */
@media (max-width: 576px) {
    html {
    }
/* cover */
    .cover {
        background-size: 70%, 70%, cover;
    }

    .male {
        transform: translateY(20px);
    }

    .span {
        transform: translateY(7px);
    }

    .female {
        transform: translateY(-20px);
    }

    .element-top-cover {
        width: 300px!important;
        transform: translateY(20px);
    }

    .element-bottom-cover {
        width: 300px!important;
        transform: translateY(-30px);
    }

    .cover-ttl {
        font-size: 1.2rem!important;
        font-weight: bold;
    }

/* cover end */

/* first */
    .male-first, .female-first {
        font-size: 2.4rem;
    }

    .photo-cover {
        width: 60%!important;
    }
/* first end */

    .main{
        background-attachment: fixed, fixed;
    }

    .nav-items {
        display: none;
    }
    .main .container {
        margin-left: 0;
    }

    .fix-1 {
        
    }
    


}

@media (max-width: 425px) {
    .fix-1 {
        transform: translateX(34.50px);
    }
}

@media (max-width: 375px) {
    .fix-1 {
        transform: translateX(17px);
    }

    .photo-cover {
        width: 70%!important;
    }
}

@media (max-width: 320px) {
    .fix-1 {
        transform: translateX(0);
    }
    .photo-cover {
        width: 80%!important;
    }
}
