
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);


:root {
    --gold: #f1c232;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --bg-button: #ffffff85;
    --bg-button-hover: #f1c13293;


}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: auto;
	font-size: 14px;
    overflow-x: hidden;
    
}

.cover {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: 100vh;
    background: url(/img/background/bg-7-element1.png) no-repeat, url(/img/background/bg-7-element2.png) no-repeat, url(/img/background/bg-10.jpg) no-repeat;
    background-size: 30%, 30%, cover;
    background-position: bottom right, top left, center;
    background-attachment: fixed, fixed, fixed;
}

.cover img{
    width: 40%;

}

.cover h1, p{
    font-family: "dancing script";
    font-size: 4rem;
}

.cover .cover-ttl {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

.content {

}



/* Media Query */
/* Laptop */
@media (max-width: 992px) {
    html {

    }
    
    .cover {
        background-size: 25%, 25%, cover;
    }

}

/* Tablet */
@media (max-width: 768px) {
    html {
    }

    .cover {
        background-size: 40%, 40%, cover;
    }
}
    
    

/* Handphone */
@media (max-width: 600px) {
    html {

    }

    .cover {
        background-size: 50%, 50%, cover;
    }

}

/* Phone */
@media (max-width: 576px) {
    html {
    }

    .cover {
        background-size: 50%, 50%, cover;
    }


}