
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);


body {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: auto;
	font-size: 14px;
    overflow-x: hidden;
    
}

.cover {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: 100vh;
    background: url(/img/background/bg-7-element1.png) no-repeat, url(/img/background/bg-7-element2.png) no-repeat, url(/img/background/bg-10.jpg) no-repeat;
    background-size: 30%, 30%, cover;
    background-position: bottom right, top left, center;
    background-attachment: fixed, fixed, fixed;
}

.cover img{
    width: 40%;

}

/* .cover h1, p{
    font-family: "dancing script";
    font-size: 4rem;
} */

.cover .cover-ttl {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

.first {
    padding: 0px;
    margin: 0px;
    width: 100%;
	height: 100vh;
    background: url(/img/background/bg-12.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



.first p{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.8rem;
}

.male-first, .female-first {
    font-family: "Dancing Script";
    font-size: 4rem;
}

.navbar {
    background-color: rgba(185, 49, 252, 0.6)!important;
    backdrop-filter: blur(2px);
}

.main {
    margin-top: -4.rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
	height: auto;
    background: url(/img/background/bg-elemet-3.png) no-repeat, url(/img/background/bg-11.jpg) no-repeat;
    background-position: right, center;
    background-size: contain, cover;
    background-attachment: scroll, fixed;
}

.main .container {
    margin-left: -1.1rem;
}

.main .card {
    background-color: rgba(185, 49, 252, 0.4);
}

.main h2 {
    font-family: "dancing script";
}

.information {
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
	height: auto;
    background: url(/img/background/bg-element-8.png) no-repeat, url(/img/background/bg-element-9.png) no-repeat, url(/img/photos/img-6.jpg) no-repeat;
    background-position: top right, bottom left, center;
    background-size: 40%, 25%, cover;
    background-attachment: scroll, scroll, fixed;
}


.information .fs-1 {
    font-size: 0.8rem!important;
}

.information .card {
    width: 60%;
    background-color: rgba(185, 49, 252, 0.4);
    backdrop-filter: blur(2px);
    color: white;
}

.gallery {
    width: 100%;
    padding: 25px;
    background: url(/img/background/bg-13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gallery .card {
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(2px);
}

.gifts {
    padding: 20px;
    background: url(/img/background/bg-13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gifts .card {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: url(/img/photos/img-8.jpg) no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}



.copy-button:hover {
    background: 0;
    border: 0;
    color: pink;
}

.copy-button {
    background: 0;
    border: 0;
    color: white;
}

.in-card {
    background-color: rgba(185, 49, 252, 0.4);
}

.btn{
 color: white!important;
 
}

.btn:hover {
color: rgba(185, 49, 252, 1)!important;

}

.bg-dark-purple {
    background-color: rgba(67, 17, 92, 0.8);
}

.content-gift {
        
}

.content-gift .card {
    background: none!important;
}
.content-gift h1 {
    font-size: 100.0px;
    margin-bottom: 4rem;
}

.mandiri {
    width: 40%!important;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
    html {

    }
    
    .cover {
        background-size: 25%, 25%, cover;
    }

}

/* Tablet */
@media (max-width: 768px) {
    html {
    }

    .cover {
        background-size: 40%, 40%, cover;
    }
}
    
    

/* Handphone */
@media (max-width: 600px) {
    html {

    }

    .cover {
        background-size: 50%, 50%, cover;
    }

}

/* Phone */
@media (max-width: 576px) {
    html {
    }

    .cover {
        background-size: 50%, 50%, cover;
    }

    .main{
        background-attachment: fixed, fixed;
    }


    .main .container {
        margin-left: 0;
    }

    .fix-1 {
        
    }
    


}

@media (max-width: 425px) {
    .fix-1 {
        transform: translateX(34.50px);
    }
}

@media (max-width: 375px) {
    .fix-1 {
        transform: translateX(17px);
    }
}

@media (max-width: 320px) {
    .fix-1 {
        transform: translateX(0);
    }
}
